<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Enter Details</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="firstname">Firstname:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
        </div>
        <div class="form-group">
            <label for="issue">Issue:</label>
            <input type="text" class="form-control" id="issue" name="issue" required>
        </div>
        <div class="form-group">
            <label for="description_issue">Description of the issue:</label>
            <input type="text" class="form-control" id="description_issue" name="description_issue" required>
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <select class="form-control" id="country" name="country" required onchange="populateStates()">
                <option value="" disabled selected>Select your country</option>
                <option value="USA">United States</option>
                <option value="Canada">Canada</option>
                <option value="UK">United Kingdom</option>
                
            </select>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <select class="form-control" id="state" name="state" required onchange="generateUniqueCode()">
                <option value="" disabled selected>Select your state</option>
                
            </select>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="uniqueCode">Unique Code:</label>
            <input type="text" class="form-control" id="uniqueCode" name="uniqueCode" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function populateStates() {
        var countrySelect = document.getElementById("country");
        var stateSelect = document.getElementById("state");

        
        stateSelect.innerHTML = "";

        
        var selectedCountry = countrySelect.value;

        
        var states = [];
        if (selectedCountry === "USA") {
            states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];
        } else if (selectedCountry === "Canada") {
            states = ["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Northwest Territories", "Nova Scotia", "Nunavut", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan", "Yukon"];
        } else if (selectedCountry === "UK") {
            states = ["England", "Scotland", "Wales", "Northern Ireland"];
        }

        
        for (var i = 0; i < states.length; i++) {
            var option = document.createElement("option");
            option.text = states[i];
            option.value = states[i];
            stateSelect.add(option);
        }

       
        generateUniqueCode();
    }

var generatedCodes = {};

function generateUniqueCode() {
    var stateSelect = document.getElementById("state");
    var uniqueCodeInput = document.getElementById("uniqueCode");
    var selectedState = stateSelect.value;
    if (generatedCodes[selectedState]) {
        
        uniqueCodeInput.value = generatedCodes[selectedState];
        return; 
    }
    var uniqueCode = selectedState.substring(0, 3).toUpperCase() + Math.floor(1000  * 9000); 
    generatedCodes[selectedState] = uniqueCode;
    uniqueCodeInput.value = uniqueCode;
}
</script>
</body>
</html>
