<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    <style>
        .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('images/home.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

        .center-items {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .button-group .btn {
            margin: 5px;
        }
    </style>


</head>
<body>
    <div class="background-container"></div>
    <div class="center-items">
        <div>
            <h1 style="color: rgb(85, 177, 146);">Sustainable development</h1>
            <div class="button-group">
                <a href="/register" class="btn btn-outline-primary">Admin Login</a>        
                <a href="/form" class="btn btn-outline-success">Raise a Complaint</a>
            </div>
        </div>
    </div>
</body>
</html>